header{}
.logo{height: 22vh;
position: fixed; top:2.5rem; left:1.5rem; z-index: 100; cursor: pointer;}
.iconMy{height: 1.5rem; position: fixed; top:2rem; right:5.5rem;}
.iconCart{height: 1.5rem; position: fixed; top:2rem; right:3rem;}